{base_dir, "_build"}.

{project_plugins, [erlfmt]}.

{erl_opts, [debug_info]}.

{deps, []}.

{pre_hooks, [
    {compile, "cargo build --release"},
    {compile, "sh -c \"cp $(cat so-path) priv/libsom.so\""}
]}.

{profiles, [
    {prod, [
        {pre_hooks, [
            {compile, "cargo build --release"},
            {compile, "sh -c \"cp $(cat so-path) priv/libsom.so\""}
        ]}
    ]},
    {test, [
        {pre_hooks, [
            {compile, "cargo build"},
            {compile, "sh -c \"cp $(cat so-path) priv/libsom.so\""}
        ]}
    ]}
]}.

{erlfmt, [
    write,
    {files, "rebar.config"},
    {files, "{src,include,test}/*.{hrl,erl,app.src}"}
]}.
